**/.git/**
**/.github/**
**/.vscode/**
**/node_modules/**
**/src/**
**/fixtures/**
**/out/test/**
**/*.map
**/.gitignore
**/tsconfig.json
**/eslint.config.mjs
**/package-lock.json

**/out/integration/**
**/assets/icon.svg
**/assets/wkt-before-after.svg
